* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}


h1, h2, h3, h4 {
    color: red;
    margin-bottom: 10px;
}


img {
    border-radius: 25px;
    width: 90%;
    max-width: 300px;
    height: auto;
}


.personaje {
    margin-bottom: 40px;
}


.articulos {
    display: grid;
    gap: 20px;
    margin-bottom: 40px;
}


.extra {
    margin-bottom: 40px;
}

.boton {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
} 

#btnTop {

    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: rgb(108, 31, 209);
    color: white;
    border: none;
    border-radius: 10px;

}

#btnTop:hover {
    background-color: rgb(72, 7, 85);
}

footer {
    padding: 20px;
    background: rgba(0,0,0,0.1);
    margin-top: 20px;
    border-radius: 10px;
}



/* Tablet */
@media (min-width: 600px) {

    .articulos {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* Desktop */
@media (min-width: 900px) {

    body {
        text-align: left;
    }

    header {
        text-align: center;
    }


    .personaje, .articulos, .extra {
        max-width: 1000px;
        margin: auto;
    }

    .personaje {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .ned {
        flex: 1;
    }


    .articulos {
        grid-template-columns: repeat(2, 1fr);
    }
}